<form>
    <div class="reset-card" style="justify-content: center; align-items: center; padding: 0px;">
        <div class="container" style="margin: 0%;">

            <mat-card class="mat-card-main" style="margin: 20px;padding: 20px;">
            <div class="google-logo" style="font-size: 24px;padding: 10px; color: #4285F4; font-weight: bold;">G<span style="color: #EA4335;">o</span><span style="color: #FBBC05;">o</span><span style="color: #4285F4;">g</span><span style="color: #34A853;">l</span><span style="color: #EA4335;">e</span></div>
      
        <h1>Reset Password</h1>
        <p>create strong poassword in your account</p>
        <div>
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input matInput placeholder="New Password">
                </mat-form-field>
              </p>
              <p>*Password should contain atleast 8 charecters</p>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput placeholder="Confirm Password">
                </mat-form-field>
              </p>
        </div>
        <div>
            <button mat-button class="button-1" style="color: #4285F4;">Return to login</button>
            <button mat-raised-button class="button-2" style="background-color: #4285F4; color: white;" >Save Password</button>
          </div>
        </mat-card>
    </div>
    </div>

</form>