
<div class="chat-container" style="background-color: rgb(96, 136, 209); margin: 20px;">
    <div class="contacts-panel" style="display: flex; justify-content: space-between;">
      <div class="search-bar">
        <input type="text" placeholder="Search...">
        <i class="fas fa-search"></i>
      </div>
      <ul class="contacts-list">
        <li class="contact">
          <img src="../../assets/profileimg.jpg" alt="Avatar">
          <div class="contact-info">
            <p class="contact-name">Ramya</p>
            <p class="last-message">Last message</p>
          </div>
        </li>
        <li class="contact">
          <img src="../../assets/profileimg.jpg" >
          <div class="contact-info">
            <p class="contact-name">kavitha</p>
            <p class="last-message">Last message</p>
          </div>
        </li>
        
      </ul>
    </div>
    <div class="chat-window">
      <div class="chat-header">
        <img src="../../assets/profileimg.jpg" alt="Avatar">
        <div class="chat-info">
          <p class="chat-name" style="color: white;">Chat with Ramya</p>
          <i class="fas fa-phone"></i>
          <i class="fas fa-video"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
      <div class="chat-messages">
        
        <div class="message sent" style="display: flex;">
          <p>  Hello, how are you?</p>
          <img src="../../assets/profileimg.jpg" class="img" >
        </div>
        <div class="message received">
          <p>I'm good, how about you?</p>
        </div>
        
      </div>
      <div class="chat-messages">
        <div class="message sent">
          <p>me also good</p>
        </div>
        <div class="message received">
          <p>whats going on!</p>
        </div>
       
      </div>
      <div class="chat-input">
        <input type="text" placeholder="Type a message">
        <button class="send-button"><i class="fas fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
